<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Radio Caprice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24F64AFA1E4DCFDA005FD5E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F64B0E1E4DCFDB005FD5E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F64B191E4DCFDB005FD5E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
